/Archive
/ERRORPICKLE.pypickle
/TestFile
/logs
/sortedPaths.svg
/test
/test.svg
/test1
/test7052025
/app/WIP Unimplemented
/sortedPaths.svg
/ui_Mainwindow.py
/app/Archive
/app/Unused
/Branding
/Design
/app/__pycache__
/.DS_Store